.banner-step {
    background-color: #020A11;
}

.banner-video {
    width: 550px;
}

.step-card-img {
    transform: translateX(50px);
    width: 600px;
}

.step-infor {
    display: flex;
    justify-content: space-between;
}

.step-phone-img {
    width: 200px;
    border-radius: 20px;
}

.step-text {
    font-weight: 700;
    line-height: inherit;
}