.banner-header {
    background-color: black;
}

.banner-infor {
    width: 35%;
}

.banner-img {
    margin-left: 80px;
    width: 65%;
}

.phone-img {
    object-fit: cover;
    width: 200px;
}

.card-image {
    object-fit: contain;
    width: 300px;
}